div
{
    font-size: x-large;
    text-align: center;
}

/* Sudo ELement  */
div::after
{
    content: "Welcome to the demo";
}



@media (min-width:900px) and (max-width:1000px)
{

    body{
        background-color: black;
    }
    div::after
{
    color: whitesmoke;
    content: "Who let the Dog out";
}

@media (800px <width< 1000px) {
    
}

}